<!-- <app-example 
  name="my friend"
  [age]=30
  [hairColor]="'brown'"
></app-example>
<app-example 
  name="Brenda"
  [age]=25
></app-example> -->
<!-- <app-people-list></app-people-list> -->
<!-- <app-event-handling> </app-event-handling> -->

<!-- <app-multiple-choice
  (a) = "doSomething()"
  (b) = "doSomethingElse()"
  (c) = "doSomething()"
  (d) = "doAnotherThing()"
> 
</app-multiple-choice> -->
<!-- <app-congratulations-message *ngIf="count>5"></app-congratulations-message> -->
<!-- <app-congratulations-message [count]="count" [threshold]="threshold"></app-congratulations-message>
<app-counter-button *ngIf="showCounterButton" [count]="count" (buttonClicked)="incrementCount()"></app-counter-button>
<button (click)="toogleCounterButton()">Show/Hide Counter Button</button> -->
<!-- <app-counter-button [count]="count" (buttonClicked)="incrementCount()"></app-counter-button> -->
<router-outlet></router-outlet>